# ── Perfil Spring ───────────────────────────────────────
SPRING_PROFILES_ACTIVE=dev

# ── RabbitMQ ────────────────────────────────────────────
RABBITMQ_HOST=peribook-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
<!-- 2026-07-09 -->
