# ── Perfil Spring ───────────────────────────────────────
SPRING_PROFILES_ACTIVE=dev

# ── Orígenes CORS ───────────────────────────────────────
CORS_ORIGINS=http://localhost:4200

# ── Llave pública JWT (ruta dentro del contenedor) ──────
JWT_RSA_PUBLIC_KEY_PATH=keys/jwt-public.pem
