# ── Perfil Spring ───────────────────────────────────────
SPRING_PROFILES_ACTIVE=dev

# ── Base de datos (post-db) ─────────────────────────────
POST_DB_HOST=post-db
POST_DB_PORT=5434
POST_DB_NAME=postdb
POST_DB_USER=postuser
POST_DB_PASSWORD=postpass

# ── RabbitMQ ────────────────────────────────────────────
RABBITMQ_HOST=peribook-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
