# ── Perfil Spring ───────────────────────────────────────
SPRING_PROFILES_ACTIVE=dev

# ── Base de datos (auth-db) ─────────────────────────────
AUTH_DB_HOST=auth-db
AUTH_DB_PORT=5432
AUTH_DB_NAME=authdb
AUTH_DB_USER=authuser
AUTH_DB_PASSWORD=authpass

# ── Llaves JWT (rutas dentro del contenedor) ────────────
JWT_RSA_PRIVATE_KEY_PATH=keys/jwt-private.pem
JWT_RSA_PUBLIC_KEY_PATH=keys/jwt-public.pem
