# ── Perfil Spring ───────────────────────────────────────
SPRING_PROFILES_ACTIVE=dev

# ── Base de datos (like-db) ─────────────────────────────
LIKE_DB_HOST=like-db
LIKE_DB_PORT=5435
LIKE_DB_NAME=likedb
LIKE_DB_USER=likeuser
LIKE_DB_PASSWORD=likepass

# ── RabbitMQ ────────────────────────────────────────────
RABBITMQ_HOST=peribook-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
<!-- 2026-07-09 -->
