# ── Perfil Spring ───────────────────────────────────────
SPRING_PROFILES_ACTIVE=dev

# ── Base de datos (user-db) ─────────────────────────────
USER_DB_HOST=user-db
USER_DB_PORT=5433
USER_DB_NAME=userdb
USER_DB_USER=useruser
USER_DB_PASSWORD=userpass
<!-- 2026-07-09 -->
